version: '3.8'
services:
      expressapp:
            build: .
            ports:
                  - "OUTSIDE-PORT-TO-USE:3000"
            environment:
                  - UPLOAD_PATH=/Local-Images
                  - UPLOADED_PATH=/server/Local-Images
            volumes:
                  - DIRECTORY-TO-SAVE-IMAGES-TO:/server/Local-Images